*.vsidx
*.ipch
*.exe 
*.ilk 
*.pdb 
*.obj 
*.log 
*.pch 
*.idb 
*.tlog 
*.lastbuildstate 
*.suo 
*.db

TermProject_ComputerGraphics-main/.vs/CG_TermProject/v17/Browse.VC.db-shm
*.opendb
TermProject_ComputerGraphics-main/Debug/CG_TermProject.exe.recipe
TermProject_ComputerGraphics-main/.vs/CG_TermProject/FileContentIndex/read.lock
TermProject_ComputerGraphics-main/.vs/CG_TermProject/v17/Browse.VC.db-wal
TermProject_ComputerGraphics-main/Debug/CG_TermProject.vcxproj.FileListAbsolute.txt
